*{
	padding: 0;
	margin: 0;
	font-family: arial;
	font-size: 16px;
}
.triangle{
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-left-color: salmon;
	margin: 6px 12px;
}
.arrow{
	width: 12px;
	height: 12px;
	margin: 6px;
	display: inline-block;
	border:1.5px solid darkgray;
	border-left-width: 0;
	border-bottom-width: 0;
	transform: rotate(42deg);
	-ms-transform: rotate(42deg);
	-webkit-transform: rotate(42deg);
}
.overtext{
	width: 150px;
	height: 20px;
	border: 1px solid salmon;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 5px;
}
.text_hidden{
	display: block;
	width: 120px;
	height: 0;
	margin: 5px;
	text-decoration: none;
	color: #FF6347;
	padding-top: 120px;
	overflow: hidden;
	/* padding里面可以放背景图片，但是不可以放文字 */
	background: url(../img/timg.jpg);
	/* 让图片占满整个容器 */
	background-size: 120px 120px;
}
.center{
	width: 100px;
	height: 100px;
	position: fixed;
	left: 90%;
	top: 10%;
	margin-left: -50px;
	margin-top: -50px;
	background-color: #FF6347;
	color: #FFFFFF;
	line-height: 100px;
	text-align: center;
}
.container{
	width: 100%;
}
.clearfix{
	content: "";
	overflow: hidden;
}
.left{
	width: 100px;
	background-color: salmon;
	float: left;
}
.right{
	width: 100px;
	background-color: skyblue;
	float: right;
}
.middle{
	background-color: lightgreen;
	margin: 0 100px;
	/* width: calc(100% - 200px); */
}
.container1{
	display: flex;
}
.container1 .left1{
	background-color: #008080;
	width: 100px;
}
.container1 .right1{
	background-color: #FF8C00;
	width: 100px;
}
.container1 .middle1{
	background-color: salmon;
	width: 100%;
}
.wrapper{
	width: 320px;
	border: 2px solid salmon;
	margin:5px;
}
.wrapper .img{
	width: 100px;
	height: 91px;
	/* 给图片加浮动可以使文字环绕图片 */
	float: left;
}
.wrapper .content1{
	font-size: 20px;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	color: #333333;
	margin-bottom: 8px;
}
.wrapper .content2{
	font-size: 12px;
	color: #666;
	line-height: 1.2em;
}